---
# Only the main Sass file needs front matter
---

@charset "utf-8";
@import "minimal-mistakes";

.author__avatar img {
  border-radius: 50%;
  display: block;
  height: 180px;
  object-fit: cover;
  width: 180px;
}
